<div class="bootstrap-wrapper">

    <div class="container">
        <div class="row" style="margin-top: 20px ;">
            <div class="col-md-6 offset-md-3">

                <div class="container text-center">
                    <img src="../../../assets/signup-icon.png" alt="">
                </div>
                <h1 class="text-center">Register Here</h1>

                <form (ngSubmit)="formSubmit()">
                        <!--Username Field-->
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>User Name</mat-label>
                          <input
                          required
                          [(ngModel)]="user.username"
                          name="username"
                          matInput placeholder="Enter username"/>
                        </mat-form-field>

                        <!--Password Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Password</mat-label>
                            <input
                            required
                            [(ngModel)]="user.password"
                            name="password"
                            type="password" matInput placeholder="Enter Password"/>
                          </mat-form-field>

                        <!--First Name Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input
                            required
                            [(ngModel)]="user.firstName"
                            name="firstName"
                            type="text" matInput placeholder="Enter First Name"/>
                          </mat-form-field>

                          <!--Last Name Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input
                            required
                            [(ngModel)]="user.lastName"
                            name="lastName"
                            type="text" matInput placeholder="Enter Last Name"/>
                          </mat-form-field>

                          <!--Email Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input
                            required
                            [(ngModel)]="user.email"
                            name="email"
                            type="email" matInput placeholder="Enter Email"/>
                          </mat-form-field>

                          <!--Phone Number Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.phone"
                            name="phone"
                            type="number" matInput placeholder="Enter Phone Number"/>
                          </mat-form-field>

                          <div class="container text-center">

                                <button type="submit" mat-raised-button color="primary">Register</button>
                                <button style="margin-left: 20px" mat-raised-button color="accent">Clear</button>

                          </div>
                </form>
            </div>
        </div>
    </div>
</div>
